.bookingForm {
	max-width: 300px;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
}

.bookingForm h2 {
	padding-left: 0;
	margin-bottom: 1rem;
}

.peopleBlock {
	position: relative;
	margin-bottom: 2rem;
	width: 100%;
}

.form {
	max-width: 320px;
	margin: 0 auto;
	//padding: 0 20px;
	position: relative;
}

.formGroup {
	display: flex;
	flex-direction: column;
}

.formGroup label {
	margin: 0.5rem;
}

.formGroup input {
	padding: 1rem;
}

.peopleDropdown {
	position: absolute;
	margin-top: 1rem;
	top: calc(100% + 8px);
	left: 50%;
	transform: translateX(-50%);
	width: 320px;
	height: auto;
	max-height: 80vh;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-items: center;
	gap: 1rem;
	padding: 2.8rem 0.5rem;
	background-color: hsl(180, 55%, 95%);
	border-radius: 4px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	z-index: 1000;
}

.dropdownItem {
	width: 40px;
	height: 40px;
	margin: 0 auto;
	padding: 0.6rem 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: background-color 0.2s;
	border: 2px solid #ddd;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 500;
}

.dropdownItem:hover {
	background-color: #f5f5f5;
}

.dropdownItem.selected {
	background-color: #1f9fd1;
	color: white;
	border-color: #1f9fd1;
}

/* Анимация открытия */
.peopleDropdown {
	animation: fadeIn 0.2s ease-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.peopleHeader {
	display: flex;
	background-color: rgb(201, 239, 257);
	padding: 8px 16px;
	//padding: 8px 108px 8px 16px; /* Большой отступ справа */
	border-radius: 4px;
	margin-bottom: 8px;
	width: 100%;
}

.peopleLabel,
.peopleValue {
	white-space: nowrap;
}

.peopleLabel {
	margin-right: 16px;
	font-style: italic;
	font-size: 0.9rem;
	font-weight: bold;
	flex-shrink: 0;
}

.peopleValue {
	font-weight: normal;
	font-size: 1em;
	flex-grow: 1;
	text-align: right;
}

.buttonGroup {
	margin-top: 1rem;
}

.primaryButton {
	padding: 0.5rem 0.8rem;
	border: none;
	border-radius: 4px;
	background-color: #1f9fd1;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

.labelTime {
	position: relative;
	z-index: 10;
}
